:root {
    --purple: #7371FC;
    --dark-purple: #4E4BFB;
    --light-purple: #CDC1FF;
    --pink: #D6C2EA;
    --red: #CC444B;
    --white: #ffffff;
    --dark-white: #F5EFFF;
    --light-gray: #E7EBEF; 
    --almost-dark-gray: #ADB5BD;
    --dark-gray: #6C757D;
    --green: #AAD576;
    --dark-green: #60A428;
    --light-red: #E39695;
    --form-color: #E5D9F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, button, input {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}