:root {
    --purple: #7371FC;
    --dark-purple: #4E4BFB;
    --light-purple: #CDC1FF;
    --white: #ffffff;
    --light-gray: #E7EBEF; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, button, input {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}